.History {
  padding: 5%;
  width: 100%;
  /* font-family: Arial; */
  /* font-size: 18px; */
  /* line-height: 30px; */
  /* font-weight: bold; */
  /* color: white; */
  border: 2px solid #ccc;
  border-radius: 7px;
  padding: 15px;
}

